.site-header.inicio {
    background-image: url(img/registro.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    
}
.h1.encabezado{

    text-align: center;
}
/*-------------------------------------------------------------------------*/
:root{

    --color-dark: #15181f;
    --color-dar: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #fffff1;
    --color-grey: #f5f6f5;
}

.formulario{

    font-size: 'Roboto', 'sans-serif';
    font-size: 10rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: 0.5rem;
}
.bg-light{

    background-color: var(--color-light)!important;
}
.bg-dark{

    background-color: var(--color-dark)!important;
    background-color: transparent;
}
/*clase para agregar padding*/
.p-6{

padding: 4 rem 7 rem;
}
.contact-box{
    padding: 3 rem;
}
.btn{
    margin-top: 10rem;
    font-weight: 200rem;
    padding: 2rem 3rem;
    border-radius: .8rem;
    min-width: 10rem;
    margin: center ;

}
.form-control{
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: rem 1.8rem .2rem;
}
.img-fluid{
background-size: cover; 
background-repeat: no-repeat;
min-height: 100vh;
background-position: center;
}